<a href="https://colab.research.google.com/github/matheuscostarp/cool-files/blob/master/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Biblioteca mais usada para lidar com Dados.
Possui dados do tipo séries e dados do tipo dataframe.
Um dataframe é uma tabela, constituida de linhas e colunas.
Cada coluna do dataframe é uma série.

Séries podem ser criadas por meio de uma lista enquanto dataframes podem ser criados por meio de um dicionário.

In [ ]:
# A criação de uma série depende de dois fatores: Os dados e seus índices. 
# Sendo assim, criam-se duas listas, uma para armazenar os dados e outra de índices.
# utiliza-se pd.Series para se criar uma série. Ela recebe três atributos princiais: data, index e name

import pandas as pd
import numpy as np

nomes = ['Ricardo', 'Danielle', 'Joaquim']
indices = [0, 1, 2]

serie = pd.Series(
    data = nomes,
    index = indices,
    name = 'Nome'
)
print(serie)

0     Ricardo
1    Danielle
2     Joaquim
Name: Nome, dtype: object

In [ ]:
# A criação de um DataFrame se dá por um dicionário cujas chaves são listas.
dicio = {'nome': ['Ricardo', 'Danielle', 'Joaquim'], 'idade': [36, 46, 4], 'sexo':['M', 'F', 'M']}
pd.DataFrame(dicio)

       nome  idade sexo
0   Ricardo     36    M
1  Danielle     46    F
2   Joaquim      4    M

In [ ]:
#Criação de um dicionário para dataframe
dicio = dict()
listanome = list()
listaidade = list()
listasexo = list()
controle = True

while controle == True:
  print('')
  nome = str(input('Qual o seu nome? '))
  listanome.append(nome)
  idade = int(input('Qual a sua idade? '))
  listaidade.append(idade)
  sexo = str(input('Qual o seu gênero? '))
  listasexo.append(sexo)
  print('')
  continua = str(input('Deseja cadastrar mais alguma pessoa? s/n '))
  if continua == 'n':
    controle = False

nome_array = np.array(listanome)
listanome.clear()
idade_array = np.array(listaidade)
listaidade.clear()
sexo_array = np.array(listasexo)
listasexo.clear()

dicio['nome'] = nome_array
dicio['Idade'] = idade_array
dicio['Sexo'] = sexo_array

pd.DataFrame(dicio)

Qual o seu nome? Ricardo
Qual a sua idade? 36
Qual o seu gênero? M

Deseja cadastrar mais alguma pessoa? s/n s

Qual o seu nome? Danielle
Qual a sua idade? 46
Qual o seu gênero? F

Deseja cadastrar mais alguma pessoa? s/n s